
<div class="h-100 row no-gutters">
    <div class="col-sm-6" style="background: url(assets/img/Group43.svg) no-repeat;background-size: cover;">
    </div>
    <div class="h-100 col-sm-6">
        <div class="h-100">
                <div class="card card-default h-100 m-b-0 padding-60">
                    <div class="card-block">
                        <h1>Registeration</h1>
                        <p class="text-muted m-b-35">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <form class="m-b-80" role="form">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-group-default required">
                                        <label>First name</label>
                                        <input type="text" class="form-control"  autofocus required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-group-default required">
                                        <label>Last name</label>
                                        <input type="text" class="form-control" required>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group form-group-default required">
                                    <label>Email</label>
                                    <input type="email" class="form-control" required>
                            </div>

                            <div class="form-group form-group-default required">
                                    <label>Phone Number</label>
                                    <input type="email" class="form-control" required>
                            </div>
                    
                            <div class="form-group form-group-default required">
                                <label>Password</label>
                                <input type="password" class="form-control" required>
                            </div>

                            <div class="form-group form-group-default required">
                                    <label>Retype Password</label>
                                    <input type="password" class="form-control" required>
                            </div>
                    
                            <div class="m-t-40">
                                <button class="btn btn-primary m-r-20">Submit</button>
                                <span class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
                                <button type="button" class="btn btn-link p-l-5 fs-16">SignUp</button>
                            </div>
                        </form>
                        <div class="d-flex justify-content-between">
                            <span>All right reserved for etaam</span>
                            <button class="btn btn-light">العربية</button>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>


