<!-- <header class="d-flex justify-content-between px-30 py-15">
    <h1>logo</h1>
    <div class="d-flex align-items-center">
        <i class="fa fa-user fa-lg m-r-10"></i>
        <i class="fa fa-bell fa-lg"></i>
    </div>
</header> -->

<div class="text-center py-25 m-b-40" style="border-bottom: solid 1px #f0f0f0;">
    <h2 class="bold fs-16 lh-1">Welcome to Eta'am !</h2>
    <h3 class="text-muted fs-20 lh-1">Thanks for Registration</h3>
</div>

<div class="text-center py-30 m-b-40">
    <h1 class="bold fs-28">Select the type of user</h1>
    <h3 class="text-muted fs-28">Lorem Ipsum is simply dummy text of the printing and typese tting industry.</h3>
</div>


<div class="container m-b-50">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="card" style="border: solid 1px #f0f0f0;">
                <div class="card-header d-flex justify-content-between">
                    <p class="align-self-center bold fs-20">lorem</p>
                    <div class="checkbox check-success">
                        <input type="checkbox" checked="checked" value="1" id="checkbox2">
                        <label class="text-muted bold fs-16" for="checkbox2">partcipate</label>
                    </div>
                </div>
                <img class="w-100" src="assets/img/elaine-casap-86020-unsplash.svg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text text-phragraph">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="card" style="border: solid 1px #f0f0f0;">
                <div class="card-header d-flex justify-content-between">
                    <p class="align-self-center bold fs-20">lorem</p>
                    <div class="checkbox check-success">
                        <input type="checkbox" checked="checked" value="1" id="checkbox2">
                        <label class="text-muted bold fs-16" for="checkbox2">partcipate</label>
                    </div>
                </div>
                <img class="w-100" src="assets/img/igor-ovsyannykov-458019-unsplash.svg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text text-phragraph">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="card" style="border: solid 1px #f0f0f0;">
                <div class="card-header d-flex justify-content-between">
                    <p class="align-self-center bold fs-20">lorem</p>
                    <div class="checkbox check-success">
                        <input type="checkbox" checked="checked" value="1" id="checkbox2">
                        <label class="text-muted bold fs-16" for="checkbox2">partcipate</label>
                    </div>
                </div>
                <img class="w-100" src="assets/img/vitaly-taranov-145502-unsplash.svg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text text-phragraph">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-between m-b-30">
    <div class="text-white">Continue</div>
    <button class="btn btn-primary">Continue</button>
    <button type="button" class="btn btn-link p-l-5 fs-16 text-phragraph">Skip for now</button>
</div>